.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}
.footerLayout{
  background-color: #122d80;
  border-radius: 40px 40px 0 0;
}
