.precio-aliado-pdp {
    width: 100px;
    height: 100px;
}

.precioAliado {
    color: #122d80;
    font-family: "NN Forever Grotesk STD" !important;
    font-size: 18px;
    font-weight: 700;
}

.precioAliadoImgPLP {
    height: 10px;
    margin-right: 3px;
}

.precioAliadoImgPDP {
    height: 14px;
    margin-right: 10px;
}

@media (max-width: 680px) {
    .precioAliadoImgPLP {
        height: 12px;
        margin-right: 6px;
    }
    .precioAliadoImgPDP {
        height: 14px;
    }
}